* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ffde59, #ff914d);
  font-family: "Nunito Sans", sans-serif;
}

.header h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.header p {
  font-size: 18px;
}

.parte1 {
  display: flex;
}

.footer p {
  white-space: nowrap;
  line-height: 20px;
  font-size: 20px;
}

footer {
  background: #00bfc3;
  padding: 0;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}
